@import url('boilerstrap.css');


/* Primary Styles ======================================================================================================
== Author:Christopher Azar=============================================================================================*/
body {
  padding-top: 125px;
  padding-bottom: 40px;
  background: #f6f6f6 url(../img/bg.png) repeat;
}
.sidebar-nav {
  padding: 9px 0;
}
div.intro {
  margin-left: 2.564103% !important;
}
div.intro h1 {
  font-size: 4em;
  margin: 20px 0;
  line-height: 1em;
}
.brand img {
  top: 4px;
  position: relative;
}
.brand img.hardhat {
  margin-left: 10px;
}
.hero-head {
  background-color: #2a2a2a;
  color: #eee;
  text-shadow: 1px inset #fff;
  margin: 20px 0 0 0;
  text-transform: uppercase;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.hero-head h3 {
  padding: 13px 20px 9px;
  font-size: 1.55em;
  letter-spacing: 1px;
  width: 40%;
  float: left;
  font-family: 'TradeGothic-Bold';
}
.hero-head h4 a {
  padding: 16px 15px;
  font-size: 0.85em;
  letter-spacing: 1px;
  width: 160px;
  float: right;
  color: rgba(255, 255, 255, 0.2);
}
.hero-head h4 a:hover {
  color: rgba(255, 255, 255, 0.95);
  cursor: pointer;
  text-decoration: none;
}
.project {
  width: 30%;
  float: left;
}
.as-seen-on .span2 img,
.as-seen-on .span3 img {
  opacity: .5;
  -moz-transition-property: all;
  -moz-transition-duration: .4s;
  -webkit-transition-property: all;
  -webkit-transition-duration: .4s;
  -o-transition-property: all;
  -o-transition-duration: .4s;
  -ms-transition-property: all;
  -ms-transition-duration: .4s;
  transition-property: all;
  transition-duration: .4s;
}
.as-seen-on .span2 img:hover,
.as-seen-on .span3 img:hover {
  opacity: 1;
}
.as-seen-on {
  margin: 20px 0;
}
h4.as-seen-on-heading {
  margin-left: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .85em;
  margin-top: 25px;
}
div.intro img.bro {
  width: 375px;
  float: right;
  margin-right: 0;
  bottom: -60px;
  position: relative;
  right: 1%;
  z-index: -5;
  clear: none;
}
.span11 .featured-on {
  margin-left: 50px;
}
p.subhead span {
  width: 100%;
  font-size: 1.15em;
  line-height: 1.5;
  font-family: 'TradeGothic-LightObl';
}
p.about span {
  font-size: 1.15em;
  line-height: 1.5;
  font-family: 'TradeGothic-LightObl';
}
p.subhead {
  width: 57%;
  font-size: 1.4em;
  line-height: 1.5;
  font-family: 'TradeGothic-Light';
}
p.about {
  font-size: 1.4em;
  line-height: 1.5;
  font-family: 'TradeGothic-Light';
}
a.inactive {
  color: rgba(255, 255, 255, 0.25) !important;
}
.span7 h4,
.span4 h4 {
  padding-bottom: 5px;
  text-transform: uppercase;
  font-size: .85em;
  letter-spacing: 1px;
}
.span7 h2 {
  padding-bottom: 10px;
}
/* Twitter Widget */
.twtr-widget {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.twtr-ft {
  display: none!important;
}
#twtr-widget-1 .twtr-bd,
#twtr-widget-1 .twtr-timeline i a,
#twtr-widget-1 .twtr-bd p {
  color: #828282 !important;
  line-height: 16px !important;
}
.twtr-user,
#twtr-widget-1 h3,
.twtr-hd {
  display: none !important;
}
#twtr-widget-1 .twtr-tweet-text {
  margin-bottom: 10px !important;
}
#twtr-widget-1 .twtr-doc,
#twtr-widget-1 .twtr-hd a,
#twtr-widget-1,
#twtr-widget-1 h4 {
  text-transform: none;
}
.twtr-widget em a,
.twtr-widget .twtr-new-results a {
  font-size: 9px;
  font-style: normal;
  margin-top: 2px;
  zoom: 1;
  color: #999 !important;
}
.twtr-timestamp {
  color: #222 !important;
}
.html5-badge {
  width: 80px;
  top: -30px;
  position: relative;
}
#projects img {
  max-width: 510px;
}
#mti_wfs_colophon {
  right: -999999px !important;
}
iframe {
  margin-top: 5px;
}
footer {
  font-weight: bold;
  line-height: 2em;
}
footer a {
  margin-right: 5px;
  margin-bottom: 25px;
}
footer img {
  margin: -3px -3px 0 8px;
}
footer span {
  color: #ddd;
  line-height: 2.5em;
}
a.btn img {
  position: relative;
  top: -2px;
  margin-right: 3px;
}
.mono-cat {
  background-image: url(../img/mono-cat.gif);
}
.team h2 {
  margin-top: 10px;
}
.hero-head h4.we-heart-u a {
  padding: 16px 15px;
  font-size: 0.85em;
  letter-spacing: 1px;
  width: 80px;
  float: right;
  color: rgba(255, 255, 255, 0.2);
}
#jobs {
  background: #fff;
}
#jobs img {
  width: 800px;
  margin: 0 auto;
}
/*
start at opacity zero until the document is ready
 - by becker
 */
.docuready {
  position:relative;
  top:-20px;
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0);
}

/*Type Replacement
Generated by FG */


@font-face {
  font-family: 'TradeGothic-Bold';
  src: url('../type/TradeGothicLTStd-Bold.eot');
  src: local('☺'), url('../type/TradeGothicLTStd-Bold.woff') format('woff'), url('../type/TradeGothicLTStd-Bold.ttf') format('truetype'), url('../type/TradeGothicLTStd-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TradeGothic-LightObl';
  src: url('../type/TradeGothicLTStd-LightObl.eot');
  src: local('☺'), url('../type/TradeGothicLTStd-LightObl.woff') format('woff'), url('../type/TradeGothicLTStd-LightObl.ttf') format('truetype'), url('../type/TradeGothicLTStd-LightObl.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothic-Light';
  src: url('../type/TradeGothicLTStd-Light.eot');
  src: local('☺'), url('../type/TradeGothicLTStd-Light.woff') format('woff'), url('../type/TradeGothicLTStd-Light.ttf') format('truetype'), url('../type/TradeGothicLTStd-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothic-Bd2';
  src: url('../type/TradeGothicLTStd-Bd2.eot');
  src: local('☺'), url('../type/TradeGothicLTStd-Bd2.woff') format('woff'), url('../type/TradeGothicLTStd-Bd2.ttf') format('truetype'), url('../type/TradeGothicLTStd-Bd2.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Trade Gothic® Bold */
.trade-bold {
  font-family:'TradeGothic-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Trade Gothic® Bold #2 */
.trade-bold-2 {
  font-family:'TradeGothic-Bd2', 'Helvetica Neue', Helvetica, Arial, sans-serif;
} 

/* Trade Gothic® Condensed Bold #20 */
.trade-cond-bold-20 {
  font-family:'TradeGothic-Bd2', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Trade Gothic® Light */
.trade-light {
  font-family:'TradeGothic-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
} 

/* Trade Gothic® Light Oblique */
.trade-light-oblique {
  font-family:'TradeGothic-LightObl', 'Helvetica Neue', Helvetica, Arial, sans-serif;
} 