#instafeed{
	margin:60px auto 0 auto;
	width: 100%;
}

.instaframe{
    float:left;
    padding: 2px;
    display: block;
    line-height: 1;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    margin:10px;
    background:rgba(239, 240, 242, .9);
}

.instaframe img{
	width:250px !important;
	height:250px;
}

.instaframe {
  list-style: none;
  *zoom: 1;
}
.instaframe:before,
.instaframe:after {
  display: table;
  content: "";
}
.instaframe:after {
  clear: both;
}
.instaframe > li {
  float: left;
  margin: 0 0 18px 20px;
}
.instaframe {
  display: block;
  padding: 4px;
  line-height: 1;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}
a.instaframe:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.instaframe > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
	width:250px !important;
	height:250px !important;
}
.instaframe .caption {
  padding: 9px;